
<h1 class="text-center py-5">Réservation du jour {{ reservationDay | date: 'dd/MM/yyyy' }}</h1>
<div class="container">

    <h3 class="py-3">
      Ajouter une réservation
      <button class="btn btn-primary pull-right" (click)="addEvent()">
        Ajouter une réservation
      </button>
    </h3>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nom</th>
        <th>Nombre de personnes</th>
        <th>Jour</th>
        <th>Modifier</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let reservation of eventsOfTheDay; let index = index">
        <td>
          {{reservation.id}}
        </td>

        <td>
          <input type="text" class="form-control" [(ngModel)]="reservation.title" >
        </td>
        <td>
          <input type="number" class="form-control" [(ngModel)]="reservation.capacity" >
        </td>
        <td>
          <input class="form-control" type="text" mwlFlatpickr [(ngModel)]="reservation.start" 
            [altInput]="true" [convertModelValue]="true" [enableTime]="true" dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i"
            placeholder="Not set">
        </td>
        <td>
        <button *ngIf="reservation.draggable" class="btn btn-primary" (click)="onEdit(reservation)">Modifier</button>
        <button *ngIf="!reservation.draggable" class="btn btn-success" (click)="onAdd(reservation)">Valider</button>
        </td>
        <td>
          <button *ngIf="reservation.draggable" class="btn btn-danger mx-auto" (click)="onDelete(reservation.id)">Supprimer</button>
          <button *ngIf="!reservation.draggable" class="btn btn-danger mx-auto" disabled (click)="onDelete(reservation.id)">Supprimer</button>
        </td>
        
      </tr>
    </tbody>
  </table>
  <div> Capacité de réservation : {{ capacityReservation }} </div>
  <div> Nombre de réservation : {{ capacityReserved }} </div>
</div>