<div  class="component"><!--*ngIf="!pageDetail"-->
  <div class="research">
    <form (ngSubmit)="researchZ()" [formGroup]="formFournisseur"> 
        <label for="inputFour">Fournisseurs :</label>
        <input id="inputFour" formControlName="research" placeholder="recherche">
        <input type="submit" value="recherche" class="btn ">
        <input type="button" value ="Ajouter" (click)="viewAjout()" class="btn btn-success">
        <input type="button" (click)="refresh()" value="Rafraichir" class="btn btn-warning">
    </form>
    

  </div>
  <div *ngIf="listFournisseurObsarvable !== undefined " class="row justify-content-center">
    <table class="text-center ">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Adresse</th>
          <th>Ville</th>
          <th>Code Postale</th>
          <th>Telephone</th>
          <th></th>
        </tr>
      </thead>
      <tbody> 
        <tr  *ngFor="let fournisseur of listFournisseurObsarvable |async; let i=index;"><!--tableau boolean-->
            
            <td [routerLink]="['detailsFournisseur',fournisseur.id]" *ngIf="!listEdit[i]">{{fournisseur.nom}}</td>
            <td [routerLink]="['detailsFournisseur',fournisseur.id]" *ngIf="!listEdit[i]">{{fournisseur.adresse}}</td>
            <td [routerLink]="['detailsFournisseur',fournisseur.id]" *ngIf="!listEdit[i]">{{fournisseur.ville}}</td>
            <td [routerLink]="['detailsFournisseur',fournisseur.id]" *ngIf="!listEdit[i]">{{fournisseur.cp}}</td>
            <td [routerLink]="['detailsFournisseur',fournisseur.id]" *ngIf="!listEdit[i]">{{fournisseur.telephone}}</td> 
          
            <td *ngIf="!listEdit[i]"><button (click)="delete(fournisseur.id)" class="btn btn-danger">X</button> <button (click)="edit(i)" class="btn btn-info">Edit</button></td>
          
            <td *ngIf="listEdit[i]"><input  [value]="fournisseur.nom" [(ngModel)]="fournisseur.nom"></td>
            <td *ngIf="listEdit[i]"><input  [value]="fournisseur.adresse" [(ngModel)]="fournisseur.adresse"></td>
            <td *ngIf="listEdit[i]"><input  [value]="fournisseur.ville" [(ngModel)]="fournisseur.ville"></td>
            <td *ngIf="listEdit[i]"><input  [value]="fournisseur.cp" [(ngModel)]="fournisseur.cp"></td>
            <td *ngIf="listEdit[i]"><input  [value]="fournisseur.telephone" [(ngModel)]="fournisseur.telephone"></td>
            <td *ngIf="listEdit[i]"><button (click)="editFournisseur(i)" class="btn btn-success" >Valider</button><button (click)="edit(i)" class="btn btn-danger">Anuler</button></td>
            
            
          </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="pageAjout" class="row justify-content-center"> 
    <div *ngIf="ctrlName.invalid && (ctrlName.dirty || ctrlName.touched)" class="alert alert-danger">
      <div *ngIf="ctrlName.errors.required">Le Nom est requis.</div>
    </div>
    <div *ngIf="ctrlAdresse.invalid && (ctrlAdresse.dirty || ctrlAdresse.touched)" class="alert alert-danger">
        <div *ngIf="ctrlAdresse.errors.required">L'adresse est requis.</div>
    </div>
    <div *ngIf="ctrlVille.invalid && (ctrlVille.dirty || ctrlVille.touched)" class="alert alert-danger">
        <div *ngIf="ctrlVille.errors.required">Le nom de la ville est requis.</div>
    </div>
    <div *ngIf="ctrlCp.invalid && (ctrlCp.dirty || ctrlCp.touched)" class="alert alert-danger">
          <div *ngIf="ctrlCp.errors.required">Le Code postale est requis.</div>
    </div>
    <div *ngIf="ctrlTelephone.invalid && (ctrlTelephone.dirty || ctrlTelephone.touched)" class="alert alert-danger">
        <div *ngIf="ctrlTelephone.errors.required">Le telephone est requis.</div>
        <div *ngIf="ctrlTelephone.errors.minlength">le telephone doit contenir 10 chiffres.</div>
    </div>
    
    <form (ngSubmit)="ajouter()" [formGroup]="formAjout">
      <h2>Ajouter</h2>
      <div>
        <label for="idNom">Nom :</label>
        <input type="text" formControlName="ctrlName">
      </div>
      <div>
          <label>Adresse :</label>
          <input type="text" formControlName="ctrlAdresse">
      </div>
      
      <div>
          <label for="idVille">Ville :</label>
          <input type="text" formControlName="ctrlVille">
      </div>
      
      <div>
          <label>Code postale :</label>
          <input type="number" formControlName="ctrlCp">
      </div>
      
      <div>
          <label>telephone :</label>
          <input type="text" formControlName="ctrlTelephone">
      </div>
      <div>
        <input type="submit" [disabled]="formAjout.invalid" value="valider" class="btn btn-success">
      </div>
    </form>
  </div>
  
</div>
<div>

</div>
<!--<app-fournisseurdetails *ngIf="pageDetail" [fournisseur]="fournisseurDetail"></app-fournisseurdetails>-->