<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">KebApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['calendar']" >Réservation <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['register']">Créer un compte</a>
      </li>
 <!--     <li class="nav-item">
        <a class="nav-link" [href]="['users']">Utilisateurs</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" href="#">Carte</a>
      </li>
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" *ngIf="!isAuth">Se déconnecter</a>
      </li>
    </ul>
    </ul>
  </div>
</nav>