<div class="container pt-5">
  <h1 class="p-5">Liste des utilisateurs </h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Prénom</th>
        <th scope="col">Nom</th>
        <th scope="col">Identifiant</th>
        <th scope="col">Email</th>
        <th scope="col">Editer</th>
        <th scope="col">Supprimer</th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let user of users , let i = index ">
        <th *ngIf="!userEdit[i]" scope="row">{{ user.id }}</th>
        <th *ngIf="userEdit[i]" scope="row">{{ user.id }}</th>
        <td *ngIf="!userEdit[i]"> {{ user.first_name}} </td>
        <td *ngIf="userEdit[i]"><input [value]="user.first_name" [(ngModel)]="user.first_name"></td>
        <td *ngIf="!userEdit[i]"> {{user.last_name}} </td>
        <td *ngIf="userEdit[i]"><input [value]="user.last_name" [(ngModel)]="user.last_name"></td>
        <td *ngIf="!userEdit[i]"> {{user.nick_name}} </td>
        <td *ngIf="userEdit[i]"><input [value]="user.nick_name" [(ngModel)]="user.nick_name"></td>
        <td *ngIf="!userEdit[i]"> {{user.email}} </td>
        <td *ngIf="userEdit[i]"><input [value]="user.email" [(ngModel)]="user.email"></td>
        <td *ngIf="!userEdit[i]"><button class="btn btn-success" (click)=onEdit(i)>Editer</button></td>
        <td *ngIf="userEdit[i]"><button class="btn btn-success" (click)="onUpdate(user, i)">Valider</button></td>
        <td *ngIf="!userEdit[i]"><button class="btn btn-danger" (click)=onDelete(user.id)>Supprimer</button></td>
        <td *ngIf="userEdit[i]"><button class="btn btn-danger" (click)=onEdit(i)>Annuler</button></td>
      </tr>
    </tbody>
  </table>
</div>
