<div class="container">
  <h1 class="p-5">Liste des utilisateurs </h1>
  <button class="btn btn-primary" (click)="refresh()">Actualiser</button>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Prénom</th>
        <th scope="col">Nom</th>
        <th scope="col">Identifiant</th>
        <th scope="col">Email</th>
        <th scope="col">Editer</th>
        <th scope="col">Supprimer</th>
      </tr>
    </thead>
    <tbody *ngFor="let user of users">
      <tr>
        <th scope="row">{{ user.id }}</th>
        <td> {{ user.first_name}} </td>
        <td> {{user.last_name}} </td>
        <td> {{user.nick_name}} </td>
        <td> {{user.email}} </td>
        <td><button class="btn btn-success" (click)=onEdit(user.id)>Editer</button></td>
        <td><button class="btn btn-danger" (click)=onDelete(user.id)>Supprimer</button></td>
      </tr>
    </tbody>
  </table>
</div>