<div class="container my-4">
  <div class="row">
    <button *ngIf="!displayingAddMenu" class="btn btn-primary" (click)="displayAddMenu()">Ajouter un menu</button>
    <button *ngIf="displayingAddMenu" class="btn btn-primary" (click)="displayAddMenu()">Fermer</button>
    <button *ngIf="displayingAddMenu" class="btn btn-primary mx-4" (click)="resetInput()">Reset</button>
  </div>
  <div *ngIf="displayingAddMenu" class="add-menu my-4">
    <h2>Ajouter un menu</h2>

    <!-- Handling errors -->
    <div *ngIf="menuName.invalid && (menuName.dirty || menuName.touched)" class="alert alert-danger">
      <div *ngIf="menuName.errors.required">Le nom du menu est requis.</div>
    </div>
    <div *ngIf="costPriceMenu.invalid && (costPriceMenu.dirty || costPriceMenu.touched)" class="alert alert-danger">
      <div *ngIf="costPriceMenu.errors.required">Le prix de revient est requis.</div>
    </div>
    <div *ngIf="sellPriceMenu.invalid && (sellPriceMenu.dirty || sellPriceMenu.touched)" class="alert alert-danger">
      <div *ngIf="sellPriceMenu.errors.required">Le prix de vente est requis.</div>
    </div>
    <div *ngIf="ingredientsMenu.invalid && (ingredientsMenu.dirty || ingredientsMenu.touched)" class="alert alert-danger">
      <div *ngIf="ingredientsMenu.errors.required">La liste des ingrédients est requise.</div>
    </div>

    <!-- The Form-->
    <form class="form-default mt-4" [formGroup]="addMenuForm" data-toggle="validator">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <mat-form-field class="example-full-width">
              <label class="control-label">Nom du menu</label>
              <input type="text" class="form-control form-control-lg" matInput name="menuName" id="menuName"
                formControlName="menuName" required>
            </mat-form-field>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <mat-form-field class="example-full-width">
              <label class="control-label">Coût de revient</label>
              <input type="number" class="form-control form-control-lg" matInput name="costPriceMenu" id="costPriceMenu"
                formControlName="costPriceMenu" required>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <mat-form-field class="example-full-width">
              <label class="control-label">Coût de vente</label>
              <input type="number" class="form-control form-control-lg" matInput name="sellPriceMenu" id="sellPriceMenu"
                formControlName="sellPriceMenu" required>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <mat-form-field class="example-full-width">
              <label class="control-label">URL Image</label>
              <input type="text" class="form-control form-control-lg" matInput name="imgurl" id="imgurl"
                formControlName="imgurl" required>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-4 py-2">
          <div class="form-group">
            <mat-form-field>
              <label class="control-label">Ingrédients</label>
              <mat-select placeholder="Ingrédients" name="ingredientsMenu" id="ingredientsMenu" formControlName="ingredientsMenu"
                multiple>
                <mat-option *ngFor="let ingredient of listIngredients" matInput value="{{ingredient.name}}">{{ingredient.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>


        <div class="col-md-4">
          <!-- <button type="submit" (click)="addMenu()" class="btn btn-success mt-4" [disabled]="addMenuForm.invalid"> -->
          <button type="submit" (click)="addMenu()" class="btn btn-success btn-lg mt-4">
            Ajouter ce menu
          </button>
        </div>
      </div>
    </form>
  </div> <!-- end of container-->