<div class="container my-4">
  <div class="row">
    <button *ngIf="!displayingAddMenu" class="btn btn-primary" (click)="displayAddMenu()">Ajouter un menu</button>
    <button *ngIf="displayingAddMenu" class="btn btn-primary" (click)="displayAddMenu()">Fermer</button>
    <button *ngIf="displayingAddMenu" class="btn btn-primary mx-4" (click)="resetInput()">Reset</button>
  </div>
  <div *ngIf="displayingAddMenu" class="add-menu my-4">
    <h2>Ajouter un menu</h2>

    <!-- Handling errors -->
    <div *ngIf="menuName.invalid && (menuName.dirty || menuName.touched)" class="alert alert-danger">
      <div *ngIf="menuName.errors.required">Le nom du menu est requis.</div>
    </div>
    <div *ngIf="costPriceMenu.invalid && (costPriceMenu.dirty || costPriceMenu.touched)" class="alert alert-danger">
      <div *ngIf="costPriceMenu.errors.required">Le prix de revient est requis.</div>
    </div>
    <div *ngIf="sellPriceMenu.invalid && (sellPriceMenu.dirty || sellPriceMenu.touched)" class="alert alert-danger">
      <div *ngIf="sellPriceMenu.errors.required">Le prix de vente est requis.</div>
    </div>
    <div *ngIf="ingredientsMenu.invalid && (ingredientsMenu.dirty || ingredientsMenu.touched)" class="alert alert-danger">
      <div *ngIf="ingredientsMenu.errors.required">La liste des ingrédients est requise.</div>
    </div>

    <!-- Ze Form-->
    <form class="form-default mt-4" (ngSubmit)="addMenu()" [formGroup]="addMenuForm" data-toggle="validator">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Nom du menu</label>
            <input type="text" class="form-control form-control-lg" name="menuName" id="menuName" formControlName="menuName"
              required>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Coût de revient</label>
            <input type="number" class="form-control form-control-lg" name="costPriceMenu" id="costPriceMenu"
              formControlName="costPriceMenu" required>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Coût de vente</label>
            <input type="number" class="form-control form-control-lg" name="sellPriceMenu" id="sellPriceMenu"
              formControlName="sellPriceMenu" required>
          </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Coût de vente</label>
              <input type="text" class="form-control form-control-lg" name="urlImg" id="urlImg" formControlName="urlImg"
                required>
            </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Ingrédients</label>
                <select multiple class="d-block w-100 px-2" class="form-control form-control-lg"
                  name="ingredientsMenu" id="ingredientsMenu" formControlName="ingredientsMenu" required>
                  <option *ngFor="let ingredient of listIngredients | async">{{ingredient.name}}</option>
                </select>
              </div>
            </div>
      </div>

      <button type="submit" class="btn btn-success mt-4" [disabled]="addMenuForm.invalid">
        Ajouter ce menu
      </button>
    </form>
  </div> <!-- end of container-->