<div class="container-fluid" >
	<div class="row">
		<div class="col-md-3 border-right">
			<h2>list previsionel</h2>
			<!-- <form (ngSubmit)="researchPrevisionel()" [formGroup]="formPrevisionel"> 
				<label for="inputFour">Fournisseurs :</label>
				<input id="inputFour" class="form-control" formControlName="research" placeholder="recherche">
			</form>
			<hr> -->
				<!-- <button class="btn btn-outline-info btn-sm" (click)="onShowAdd()" >Ajouter un produit</button> -->


				<button class="btn btn-outline-info btn-sm" (click)="modifProvisionel()">Modifer Provisionel</button>
				<br>
			<div *ngIf="!varModifProvisionel">
				<ul *ngFor="let produit of listProduct" class="flex">
					<li >{{ produit.name }} : <span class="text-right"> {{ produit.quantityPrev }}</span></li>			
				</ul>
			</div>
			<div *ngIf="varModifProvisionel">
				<form >
					<input type="text">
					<input type="text">
					<input type="text">
					<input type="text">
				</form>
			</div>
		</div>

		<div class="col-md-9">
			<div *ngIf="pageDetail">
				<app-detail-stock [dataProduct]="productDetail" ></app-detail-stock>
			</div>
			<div *ngIf="!pageDetail">
			<div class="row bouton">
				<div class="btn btn-success"(click)="onShow()">Liste des produits</div>
				<div class="btn btn-info" 	(click)="onShowAdd()" >Ajouter un produit</div>
				<div class="btn btn-danger"> Imprimer / envoyer commande </div>
			</div>
			<div *ngIf="show">
				<table class="table">
					<thead>
						<tr>
						<th>Nom du produit</th>
						<th>Quantité</th>
						<th>Action</th>
						</tr>
					</thead>
					<tr *ngFor="let prod of listProduct ; let i = index" >
						<td (click)="detail(i)">{{ prod.name }}</td>
						<td (click)="detail(i)" >{{ prod.quantity}}</td>
						<td>
							<button (click)="editProd( i )">Editez</button>
							<button (click)="deleteProduct(prod.id)">Suppr</button>
						</td>
					</tr>
				</table>
			</div>

			<hr/>

			<div *ngIf="showAdd" >
				<form  (ngSubmit)="signup()" [formGroup]="loginForm">
					<div class="form-group">
						<label for="">Nom produit</label>
						<input type="text" name="name" class="form-control" 
						formControlName="name" >
					</div>
					<div class="form-group">
						<label for="">Prix unitaire (en ancien franc ou centime):</label>
						<input type="number" name="price" class="form-control" 
						formControlName ="price">
					</div>
					<div class="form-group">
						<label for="">Quantité</label>
						<input type="number" name="quantity" class="form-control" 
						formControlName ="quantity">
					</div> 
					<div class="form-group">
						<label for="">Fournisseur:</label><!-- -->
						<select class="custom-select" formControlName ="supplier">
							<option class="form-control" [value]="fourn.nom" *ngFor="let fourn of listFournisseur; let i = index" >{{ fourn.nom }}</option>
						</select>
				</div>

					<div class="form-group">
						<label for="">Quantité en prevision:</label>
						<input type="text" name="quantityPrev" class="form-control" 
						formControlName ="quantityPrev">
					</div>
					<input type="submit" class="form-control" value="Valider">
				</form>
			</div>

			<div *ngIf="showupdate">
				<h1>Mettre a jour </h1>
				<form  (ngSubmit)="editProduct()" [formGroup]="loginForm">
					<div class="form-group">
						<label for="">Nom produit</label>
						<input type="text" name="name" class="form-control" 
						formControlName="name" [value]="productEdit.name">
					</div>
					<div class="form-group">
						<label for="">Prix unitaire </label>
						<input type="number" name="price" class="form-control" 
						formControlName ="price" [value]="productEdit.price">
					</div>
					<div class="form-group">
						<label for="">Quantité</label>
						<input type="number" name="quantity" class="form-control" 
						formControlName ="quantity" [value]="productEdit.quantity">
					</div>
					<div class="form-group">
						<label for="">Fournisseur:</label>
						<input type="text" name="supplier" class="form-control" 
						formControlName ="supplier" [value]="productEdit.supplier">
					</div>
					<p>{{ productEdit | json }}</p>

					<div class="form-group">
						<label for="">Quantité en prevision:</label>
						<input type="text" name="quantityPrev" class="form-control" 
						formControlName ="quantityPrev" [value]="productEdit.quantityPrev" >
					</div>
					<input type="submit" class="form-control" value="Valider">
				</form>
			</div>
		</div>
	</div>
	
	</div>
</div>
