<div class="container-fluid my-4">
  <h1 class="text-center">Menus du restaurant</h1>
  <p class="text-center">Faites glisser un menu dans la poubelle sur la droite pour le supprimer.</p>
  <!-- add menu section-->
  <app-addmenu></app-addmenu>
  <!-- Drag & drop test dnd -->



  <!-- Version card -->
  <div class="d-flex flex-row justify-content-center flex-wrap w-100 my-5 position-relative">
    <div class="dropzone position-absolute">
      <div dnd-droppable (onDropSuccess)="log($event); simpleDrop = $event">
        <img src="assets/svg/bin.svg" id="svg-bin">
      </div>
    </div>
    <div class="restaurantcard" dnd-draggable [dragEnabled]="draggingOk" [dragData]="menu.id" *ngFor="let menu of listMenus; let i = index">
      <!-- Photo de la card <img class="card-img-top" data-src="holder.js/100x180/" alt="Card image cap"> -->
      <img src="{{menu.urlImg}}" class="img-fluid" alt="">
      <div class="inner-restaurantcard">
        <h4 class="my-3" *ngIf="!editArray[i]">{{menu.name}}</h4>
        <div *ngIf="!editArray[i]">
          <h5>&nbsp;Ingrédients</h5>
          <ul>
            <li *ngFor="let ingredient of menu.ingredients">{{ingredient}}</li>
          </ul>
        </div>
        <p *ngIf="!editArray[i]">Prix de vente : {{menu.sellPrice | price}}</p>
        <p *ngIf="!editArray[i]">Prix de revient : {{menu.costPrice | price}}</p>
        <p *ngIf="!editArray[i]" class="text-muted">Marge : {{menu.sellPrice - menu.costPrice | price }}</p>
        <div *ngIf="!editArray[i]" class="my-3">
          <button class="btn btn-primary" (click)="editMenu(i)">✏️</button>
          <button class="btn btn-danger mx-2" (click)="deleteMenu(menu.id)">❌</button>
        </div>
      </div>
      <!-- edit section-->
      <div class="inner-restaurantcard">
        <div class="form-group">
          <h4 class="my-3" *ngIf="editArray[i]"><input [(ngModel)]="menu.name" value="menu.name"></h4>
        </div>

        <div class="form-group">
          <p *ngIf="editArray[i]">Prix de vente : <input class="form-control" [(ngModel)]="menu.sellPrice" value="menu.sellPrice"></p>
        </div>

        <div class="form-group">
          <p *ngIf="editArray[i]">Prix de revient : <input class="form-control" [(ngModel)]="menu.costPrice" value="menu.costPrice"></p>
        </div>

        <div class="form-group">
          <p *ngIf="editArray[i]">/</p>
        </div>

        <div class="form-group">
          <p *ngIf="editArray[i]">Ingrédients<input class="form-control" [(ngModel)]="menu.ingredients" value="menu.ingredients"></p>
        </div>

        <div *ngIf="editArray[i]" class="my-3">
          <button class="btn btn-success" (click)="addEdits(menu, i)">Valider</button>
          <button class="btn btn-primary mx-2" (click)="editMenu(i)">Annuler</button>
        </div>
      </div>
      <!-- -->
    </div> <!-- end of .restaurantcard-->
  </div>

</div> <!-- end of .container-fluid -->