.restaurantcard{
    width: 28%;
    margin: 1rem;
    box-shadow: 0px 0px 2px grey;
    border-radius: 5px;
}
.inner-restaurantcard{
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    h4{
        color: #DC3545;
        padding:1rem 0 .7rem 0;
    }
    .menu-buttons{
        right:0px;
        bottom: 0px;
    }
    .square-before:before{
        display:inline-block;
        height:5px;
        width:5px;
        background-color: #DC3545;
        content:"";
    }
    p{
        font-size: 0.9rem;
    }
    ul{
        font-size: 0.9rem;
        padding-left:5px;
        li{
            list-style-type: circle;
        }
    }
        p{
            margin: 0;
        }
}
#svg-bin{
    width:75px;
    height:auto;
    display: block;
}
.dropzone{
    right:0px;
    top:20px;
    width:70px;
}
img{
    width:100%;
    // min-height:200px;
    overflow: hidden;
    height: auto;
    border-radius: 3px;
}
small{
    display: block;
}