<div class="container-fluid my-4">
  <h1 class="text-center">Menus du restaurant</h1>
  <p class="text-center">Faites glisser un menu dans la poubelle sur la droite pour le supprimer.</p>
  <!--**-- AddMenu section --**-->
  <app-addmenu></app-addmenu>

  <!--**-- Cards --**-->
  <div class="d-flex flex-row justify-content-center align-items-start flex-wrap w-100 my-5 position-relative">
    <div class="dropzone position-absolute">
      <div dnd-droppable (onDropSuccess)="log($event); simpleDrop = $event">
        <img src="assets/svg/bin.svg" id="svg-bin">
      </div>
    </div>
    <div class="restaurantcard" dnd-draggable [dragEnabled]="draggingOk" [dragData]="menu.id" *ngFor="let menu of listMenus; let i = index">
      <img src="{{menu.urlImg}}" class="img-fluid" alt="">
      <div class="inner-restaurantcard">
        <div class="container">
          <h4 class="my-2" *ngIf="!editArray[i]">{{menu.name}}</h4>
          <div class="row">
            <div class="col-sm-6">
              <div *ngIf="!editArray[i]">
                <h5 class="square-before">&nbsp;Ingrédients</h5>
                <ul>
                  <li *ngFor="let ingredient of menu.ingredients">{{ingredient}}</li>
                </ul>
              </div>
            </div>
            <div class="col-sm-6">
              <h5 *ngIf="!editArray[i]" class=" square-before">&nbsp;Prix</h5>
              <p *ngIf="!editArray[i]">Prix de vente : {{menu.sellPrice | price}}</p>
              <p *ngIf="!editArray[i]">Prix de revient : {{menu.costPrice | price}}</p>
              <p *ngIf="!editArray[i]" class="font-weight-bold">Marge : {{menu.sellPrice - menu.costPrice |
                price }}</p>
            </div>
          </div>
          <div class="row">
            <div *ngIf="!editArray[i]" class="mt-3 menu-buttons">
              <button class="btn btn-primary" (click)="editMenu(i)">✏️</button>
              <button class="btn btn-danger mx-2" (click)="deleteMenu(menu.id)">❌</button>
            </div>
          </div>
        </div>
      </div>


      <!--**-- Edit section --**-->
      <div class="inner-restaurantcard">
        <div class="form-group">
          <h5 class="my-3" *ngIf="editArray[i]"><input [(ngModel)]="menu.name" value="menu.name"></h5>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-sm-6 p-0">

              <div class="form-group">
                <p class="m0" *ngIf="editArray[i]">Prix de vente : <input class="form-control" [(ngModel)]="menu.sellPrice"
                    value="menu.sellPrice"></p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <p class="m0" *ngIf="editArray[i]">Prix de revient : <input class="form-control" [(ngModel)]="menu.costPrice"
                    value="menu.costPrice"></p>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <p class="m0" *ngIf="editArray[i]">Ingrédients<input class="form-control" [(ngModel)]="menu.ingredients"
              value="menu.ingredients"></p>
        </div>
        <div *ngIf="editArray[i]" class="my-3">
          <button class="btn btn-success" (click)="addEdits(menu, i)">Valider</button>
          <button class="btn btn-primary mx-2" (click)="editMenu(i)">Annuler</button>
        </div>

      </div>
    </div> <!-- end of .restaurantcard-->
  </div>
</div> <!-- end of .container-fluid -->